.step {
    display: none;
    width: 350px;
    margin: 50px auto;
}

#step1 {
    display: block;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
}
